
<h1>Editing data_set</h1>

<% form_for(@data_set) do |f| %>
  <%= f.error_messages %>

  
  <p>
	<!-- Makes a dropdown and puts the meters in each select value -->
	<% allMeters = Meter.find(:all, :order => :id) %>
	Select <%= f.label :meter %><br /> 
	<%= f.collection_select :meter_id, allMeters, :id, :name %>
  </p>
  <p>
    <%= f.label :point_number %><br />
    <%= f.text_field :point_number %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<!-- Makes a dropdown and puts the power units in each select value -->
	<% allUnits = PowerUnit.find(:all, :order => :id) %>
	Select <%= f.label :power_unit %><br /> 
	<%= f.collection_select :meter_id, allUnits, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @data_set %> |
<%= link_to 'Back', data_sets_path %>