<div class="activeButton">power_info_button</div>

<script type="text/javascript">
	$(function() {
		$("#dataset").hide().visualize({width:650, height:400}).attr("style", "background-color:white");
	});
</script>
<div style="width:700px; height: 400px; margin-left:10px;margin-top:25px;margin-bottom:80px;">
<%= form_tag :action=>'get_table' %>
Date:<%= text_field("dateform", "start_date",:size=>"20" ) %>
<input type="submit" value="Change Date" />

<table id="dataset">
	<caption>
		Hourly breakdown for <%= @assoc_meter.name %>
	</caption>
	<thead>
	<tr><td></td>
<% @item_data.each do |item| %>
		<th><%= item.date.localtime.strftime("%H:00") %></th>
<% end %>
	</tr>
	</thead>
	<tbody>
	<tr>
	<th> <%= @data_set.name %> </th>
<% @item_data.each do |item| %>
	<td> <%= item.amount %> </td>
<% end %>
	</tbody>
</table>

</div>