    <style type="text/css">
    	
    </style>
	
	
<h1>Building: <%= @data_set.meter.building.building_name%></h1>
<%= form_tag :action=>'get_table' %>
Date:<%= text_field("dateform", "start_date", :value=>@start_time.strftime("%m/%d/%Y") ) %> 
<input type="submit" value="Change Dataset Date" /><span style="margin-left:auto;"> <span id="KWsUsed" style="color:Red; ">0</span> KWh used | $<span id="totCost2" style="color:#00f;"></span></span>

   <div id="mydiv" style='width:879px; height:360px;'></div>
   <br/><p>
   <h3>Highest Amount Registered:</h3> 
   <%= @item_bounds.max_amount%> KWh, at <%= @item_bounds.max_time.localtime.strftime("%H:%M, %d/%m/%Y")%> <br/>
   <h3>Lowest Amount Registered:</h3><%= @item_bounds.min_amount%> KWh, at <%= @item_bounds.min_time.localtime.strftime("%H:%M, %d/%m/%Y")%><br/>
        </p>
		<br />
       <p> To modify the displayed graph, you can move the borders on the bottom
        timeline, and drag the viewed window to show a different section of the
        graph.
		</p>
		<div id="displaySubData" name="displaySubData">
			<h3>KiloWatts Used within the Selected Range:</h3> 
			There have been <span id="KWsUsed2" style="color:Red;"></span> KWh used within the dates:
			<br /> 
			<span id="startRange"></span>  --  <span id="endRange"></span>
		<h3>The Cost of it all: </h3>
			At the current price of electricity, the cost incurred over the span of time displayed in the graph was: 
			$<span id="totCost" style="color:#00f;">0</span>
			<table>
			<h3>Cost Breakdown:</h3>
			<tr>
				<td>Per Day:</td>
				<td>
				<span id="kPerD" style="color:Red;">0</span> 
				<br/>
				$<span id="cPerD" style="color:#00f;">0</span> 
				</td>
			
				<td>Per Hour:</td>
				<td>
				<span id="kPerH" style="color:Red;">0</span>
				<br/>
				$<span id="cPerH" style="color:#00f;">0</span>
				</td>
			
				<td>Per Minute:</td>
				<td>
					<span id="kPerM" style="color:Red;">0</span>
					<br/>
					$<span id="cPerM" style="color:#00f;">0</span>
				</td>
			
				<td>Per Second:</td>
				<td>
					<span id="kPerS" style="color:Red;">0</span>
					<br/>
					$<span id="cPerS" style="color:#00f;">0</span>
				</td>
				
			</tr>
			</table>
		</div>
<script type="text/javascript">
		$(function() {
			$("#dateform_start_date").datepicker();
		});
      google.load("visualization", "1", {'packages':['piechart', 'annotatedtimeline']});
      
      // Set callback to run when API is loaded
      google.setOnLoadCallback(drawVisualization); 
	  document.getElementById('displaySubData').style.visibility="hidden";
  
      // Called when the Visualization API is loaded.
      function drawVisualization() {
        
        // Create and populate a data table.
        data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'KWh');
	    // Add more data rows and cells here
        data.addRows([
          <% @item_data.each do |item| %>
            [new Date(<%= item.date.localtime.strftime("%Y, (%m-1), %d, %H, %M") %>), <%= item.amount %> ],
          <% end %>
        ]);
        // Instantiate our table object.
        vis = new google.visualization.AnnotatedTimeLine(document.getElementById('mydiv'));
        // Draw our table with the data we created locally.
	   vis.draw(data, {thickness: 2, fill: 30, displayAnnotations: false, zoomEndTime: (new Date(<%= @endTime.strftime("%Y, (%m-1), %d-1, %H, %M") %>)), zoomStartTime: (new Date(<%= (@endTime - 1.day).strftime("%Y, (%m-1), %d-1, %H, %M") %>))});
       google.visualization.events.addListener(vis, 'ready', selectHandler);
	   google.visualization.events.addListener(vis, 'rangechange', selectHandler);
	   selectHandler();
 
 function getDate(date)
  {

       var day = date.getDate();
       var month = date.getMonth()+1;
       var yy = date.getYear();
       var year = (yy < 1000) ? yy + 1900 : yy;
   
       var hours = date.getHours()
       var minutes = date.getMinutes()
       if (minutes < 10){
       minutes = "0" + minutes
       }
     var value= month+"/"+day+"/"+year + " " + hours + ":" + minutes;
     return value.toString();
  }
 
 //this function will add up anything between the dates displayed
 function selectHandler() {

   var disCol = data.getDistinctValues(1);
   var thisDate = data.getDistinctValues(0);
   var theDates = vis.getVisibleChartRange(); 
   var startDate = theDates.start;
   var endDate = theDates.end;
   var total=0;
   var sumTot=0;
   var numRow = data.getNumberOfRows();
   var x=0;
   var j =0;
   var i =0;
   var date;
	for (x=0;x<numRow;x++)
  	{
	    j =parseInt(x)
	    i= data.getValue(j, 1);
	    date= data.getValue(j,0);
	    if(startDate<=date && endDate>=date){   
	    total=total+i;
		}
	}

  var daydif=endDate-startDate;
  var secs =daydif/1000;
  var mins = secs/60;
  var hrs = mins/60;
  var day = hrs/24;
  

  var kPerD = total/day;
  var kPerH = total/hrs;
  var kPerM = total/mins;
  var kPerS = total/secs;
  
  var money = <%= @data_set.power_unit.cost %>;
  var cost = total*money;
  var cPerD= kPerD*money;
  var cPerM= kPerM*money;
  var cPerH= kPerH*money;
  var cPerS= kPerS*money;
  //alert('D H M S '+ cPerD + ' ' + cPerH + ' ' cPerM + ' ' +cPerS);
  cost = cost.toFixed(2);
  total=total.toFixed(2);
  var kws =" "+<%= @data_set.power_unit.name %>;
  alert(kws);
  kws=kws.toString();
  
  document.getElementById('KWsUsed').innerHTML=total.toString();
  document.getElementById('KWsUsed2').innerHTML=total.toString();
  document.getElementById('startRange').innerHTML=getDate(startDate);
  document.getElementById('endRange').innerHTML=getDate(endDate);
  document.getElementById('displaySubData').style.visibility="visible";
  document.getElementById('totCost').innerHTML=cost.toString();
  document.getElementById('totCost2').innerHTML=cost.toString();
  document.getElementById('kPerD').innerHTML=kPerD.toFixed(2).toString()+kws;
  document.getElementById('cPerD').innerHTML=cPerD.toFixed(2).toString();
  document.getElementById('kPerH').innerHTML=kPerH.toFixed(2).toString()+kws;
  document.getElementById('cPerH').innerHTML=cPerH.toFixed(2).toString();
  document.getElementById('kPerM').innerHTML=kPerM.toFixed(2).toString()+kws;
  document.getElementById('cPerM').innerHTML=cPerM.toFixed(2).toString();
  document.getElementById('kPerS').innerHTML=kPerS.toFixed(2).toString()+kws;
  document.getElementById('cPerS').innerHTML=cPerS.toFixed(2).toString();
 

	   }
	   }
     </script>
