    <script type="text/javascript">
		$(function() {
			$("#dateform_start_date").datepicker();
		});
      google.load("visualization", "1", {'packages':['piechart', 'annotatedtimeline']});
      
      // Set callback to run when API is loaded
      google.setOnLoadCallback(drawVisualization); 

      // Called when the Visualization API is loaded.
      function drawVisualization() {
        
        // Create and populate a data table.
        data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'KWh');
	// Add more data rows and cells here
        data.addRows([
          <% @item_data.each do |item| %>
            [new Date(<%= item.date.localtime.strftime("%Y, (%m-1), %d, %H, %M") %>), <%= item.amount %> ],
          <% end %>
        ]);
        // Instantiate our table object.
        vis = new google.visualization.AnnotatedTimeLine(document.getElementById('mydiv'));
        // Draw our table with the data we created locally.
	vis.draw(data, {thickness: 2, fill: 30, displayAnnotations: true, zoomEndTime: (new Date(<%= @endTime.strftime("%Y, (%m-1), %d-1, %H, %M") %>)), zoomStartTime: (new Date(<%= (@endTime - 1.day).strftime("%Y, (%m-1), %d-1, %H, %M") %>))});
       google.visualization.events.addListener(vis, 'rangechange', selectHandler);
 
 //this function will add up anything between the dates displayed
 function selectHandler() {
 var disCol = data.getDistinctValues(1);
  // alert('disCol'+disCol);working
   var thisDate = data.getDistinctValues(0);
   //alert('thisDate '+thisDate);working

 
   var theDates = vis.getVisibleChartRange();
   
   var startDate = theDates.start;
   var endDate = theDates.end;
   //alert('startDate '+ startDate);
   //alert('date? '+data.getValue(0,0));
   var total=0;
  var numRow = data.getNumberOfRows();
   var x=0;
	for (x=0;x<numRow;x++)
  	{
	   var j =parseInt(x)
	   var i= data.getValue(j, 1);
	   var date= data.getValue(j,0);
	    if(startDate<=date && endDate>=date){   
	    total=total+i;
    }
  }
  document.getElementById('KWsUsed').innerHTML=total.toString();
  document.getElementById('startRange').innerHTML=startDate.toString();
  document.getElementById('endRange').innerHTML=endDate.toString();
   
  //vis.draw(data, {thickness: 2, fill: 30, displayAnnotations: true, zoomEndTime: (new Date(<%= @endTime.strftime("%Y, (%m-1), %d-1, %H, %M") %>)), zoomStartTime: (new Date(<%= (@endTime - 1.day).strftime("%Y, (%m-1), %d-1, %H, %M") %>))});
       //google.visualization.events.addListener(vis, 'rangechange', selectHandler);

	   }
	   }
     </script>
<h1>Building: <%= @assoc_meter.building.building_name%></h1>
<%= form_tag :action=>'get_table' %>
Date:<%= text_field("dateform", "start_date", :value=>@start_time.strftime("%m/%d/%Y") ) %> 
<input type="submit" value="Change Dataset Date" /><input type="text" value="<%= @start_time.strftime("%m/%d/%Y") %>">

   <div id="mydiv" style='width:750px; height:360px;'></div>
   <br/><p>
   <h3>Highest Amount Registered :</h3> 
   <%= @item_bounds.max_amount%> KWh, at <%= @item_bounds.max_time.localtime.strftime("%H:%M, %d/%m/%Y")%> <br/>
   <h3>Lowest Amount Registered:</h3><%= @item_bounds.min_amount%> KWh, at <%= @item_bounds.min_time.localtime.strftime("%H:%M, %d/%m/%Y")%><br/>
        </p>
        <p>
        To modify the displayed graph, you can move the borders on the bottom
        timeline, and drag the viewed window to show a different section of the
        graph.
        </p>
		<p>
			<h3>KiloWatts Used within Graph Range</h3> 
			<br/>
			There have been <span id="KWsUsed"></span> KWh used within the dates <span id="startRange"></spand> - <span id="endRange"></span>
			
		</p>

