    <script type="text/javascript">
      google.load("visualization", "1", {'packages':['piechart', 'annotatedtimeline']});
      
      // Set callback to run when API is loaded
      google.setOnLoadCallback(drawVisualization); 

      // Called when the Visualization API is loaded.
      function drawVisualization() {
        
        // Create and populate a data table.
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'KWh');
	// Add more data rows and cells here
        data.addRows([
          <% @item_data.each do |item| %>
            [new Date(<%= item.date.localtime.strftime("%Y, (%m-1), %d, %H, %M") %>), <%= item.amount %> ],
          <% end %>
        ]);
        // Instantiate our table object.
        var vis = new google.visualization.AnnotatedTimeLine(document.getElementById('mydiv'));
        // Draw our table with the data we created locally.
	vis.draw(data, {displayAnnotations: true, zoomEndTime: (new Date(<%= @endTime.strftime("%Y, (%m-1), %d-1, %H, %M") %>)), zoomStartTime: (new Date(<%= (@endTime - 1.day).strftime("%Y, (%m-1), %d-1, %H, %M") %>))});
       }
   </script>
   <div id="mydiv" style='width:750px; height:360px;'></div>
   <br/><p>
        <b>Meter: <%= @assoc_meter.building.building_name%><br/></b>
        <b>Max Amount:</b> <%= @item_bounds.max_amount%> <br/>
        <b>Max Time:</b><%= @item_bounds.max_time.localtime%> <br/>
        <b>Min Amount:</b><%= @item_bounds.min_amount%> <br/>
        <b>Min Time:</b><%= @item_bounds.min_time.localtime%> <br/>
        </p>
        <p>
        To modify the displayed graph, you can move the borders on the bottom
        timeline, and drag the viewed window to show a different section of the
        graph.
        </p>

