<div class="activeButton">admin_button</div>

<p>
  <b>Meter:</b>
  <%=h @data_set.meter.name %>
</p>

<p>
  <b>Point number:</b>
  <%=h @data_set.point_number %>
</p>

<p>
  <b>Name:</b>
  <%=h @data_set.name %>
</p>

<p>
  <b>Units:</b>
  <%=h @data_set.power_unit.name %>
</p>


<%= link_to 'Edit', edit_data_set_path(@data_set) %> |
<%= link_to 'Back', data_sets_path %>