<h1>Editing power_unit</h1>

<% form_for(@power_unit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @power_unit %> |
<%= link_to 'Back', power_units_path %>