<h1>Listing building_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @building_types.each do |building_type| %>
  <tr>
    <td><%=h building_type.id %></td>
    <td><%=h building_type.name %></td>
    <td><%= link_to 'Show', building_type %></td>
    <td><%= link_to 'Edit', edit_building_type_path(building_type) %></td>
    <td><%= link_to 'Destroy', building_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New building_type', new_building_type_path %>