<h1>New meter</h1>

<% form_for(@meter) do |f| %>
  <%= f.error_messages %>

 	<p>
		<!-- Makes a dropdown and puts the building type in each select value -->
		<% buildingIDs = Building.find(:all, :order => :id) %>
		Select <%= f.label :building_id %><br /> 
		<%= f.collection_select :building_id, buildingIDs, :id, :building_name %>
	</p>
        <p>
    Select <%= f.label @hubs %><br />
    <%= select "Selected stuff", "ID", @hubs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', meters_path %>
