<p>
  <b>Building:</b>
  <%=h @meter.building_id %>
</p>

<p>
  <b>Meter type:</b>
  <%=h @meter.meter_type_id %>
</p>

<p>
  <b>Modbus address:</b>
  <%=h @meter.modbus_address %>
</p>

<p>
  <b>Unit:</b>
  <%=h @meter.unit %>
</p>


<%= link_to 'Edit', edit_meter_path(@meter) %> |
<%= link_to 'Back', meters_path %>