<h1>Editing meter_type</h1>

<% form_for(@meter_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :Mod_Bus_Address %><br />
    <%= f.text_field :Mod_Bus_Address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @meter_type %> |
<%= link_to 'Back', meter_types_path %>
