<p>
  <b>Meter type:</b>
  <%=h @meter_type.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @meter_type.name %>
</p>

<p>
  <b>Unit:</b>
  <%=h @meter_type.unit %>
</p>

<p>
  <b>Mod bus address:</b>
  <%=h @meter_type.Mod_Bus_Address %>
</p>


<%= link_to 'Edit', edit_meter_type_path(@meter_type) %> |
<%= link_to 'Back', meter_types_path %>
