<p>
  <b>Building:</b>
  <%=h @building.id %>
</p>

<p>
  <b>Building name:</b>
  <%=h @building.building_name %>
</p>

<p>
  <b>Building abbrv:</b>
  <%=h @building.building_abbrv %>
</p>

<p>
  <b>Building type:</b>
  <%=h @building.building_type_id %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
