<h1>Listing series</h1>

<table>
  <tr>
    <th>Meter</th>
    <th>Point number</th>
    <th>Name</th>
    <th>Units</th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%=h series.meter_id %></td>
    <td><%=h series.point_number %></td>
    <td><%=h series.name %></td>
    <td><%=h series.units %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New series', new_series_path %>