<h1>New series</h1>

<% form_for(@series) do |f| %>

  <p>
    <%= f.label :meter_id %><br />
    <%= f.text_field :meter_id %>
  </p>
  <p>
    <%= f.label :point_number %><br />
    <%= f.text_field :point_number %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', series_path %>