<h1>New data</h1>

<% form_for(@data) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data_id %><br />
    <%= f.text_field :data_id %>
  </p>
  <p>
    <%= f.label :building_id %><br />
    <%= f.text_field :building_id %>
  </p>
  <p>
    <%= f.label :metertype_id %><br />
    <%= f.text_field :metertype_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', datas_path %>