<p>
  <b>Data:</b>
  <%=h @data.data_id %>
</p>

<p>
  <b>Building:</b>
  <%=h @data.building_id %>
</p>

<p>
  <b>Metertype:</b>
  <%=h @data.metertype_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @data.amount %>
</p>


<%= link_to 'Edit', edit_data_path(@data) %> |
<%= link_to 'Back', datas_path %>