<h1>Editing data_point</h1>

<% form_for(@data_point) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data_set_id %><br />
    <%= f.text_field :data_set_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @data_point %> |
<%= link_to 'Back', data_points_path %>